<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.equipmentmanage.app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EquipmentManage"
        android:usesCleartextTraffic="true">


        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" /> <!-- DeviceManageActivity   MainActivity AreaManageActivity  LoginActivity -->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 登录页 -->
        <!-- <activity android:name=".activity.LoginActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- 任务清单 -->
        <!-- 装置管理 -->
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DeviceManageActivity"
            android:screenOrientation="portrait" /> <!-- 装置管理详情 -->
        <activity
            android:name=".activity.DeviceManageDetailActivity"
            android:screenOrientation="portrait" /> <!-- 区域管理 -->
        <activity
            android:name=".activity.AreaManageActivity"
            android:screenOrientation="portrait" /> <!-- 区域管理详情 -->
        <activity
            android:name=".activity.AreaManageDetailActivity"
            android:screenOrientation="portrait" /> <!-- 设备管理 -->
        <activity
            android:name=".activity.EquipmentManageActivity"
            android:screenOrientation="portrait" /> <!-- 设备管理详情 -->
        <activity
            android:name=".activity.EquipmentManageDetailActivity"
            android:screenOrientation="portrait" /> <!-- 设备管理 -->
        <activity
            android:name=".activity.ProductFlowActivity"
            android:screenOrientation="portrait" /> <!-- 设备管理详情 -->
        <activity
            android:name=".activity.ProductFlowDetailActivity"
            android:screenOrientation="portrait" /> <!-- 任务详情 -->
        <activity
            android:name=".activity.TaskDetailActivity"
            android:screenOrientation="portrait" /> <!-- 组件管理 -->
        <activity
            android:name=".activity.PartManageActivity"
            android:screenOrientation="portrait" /> <!-- 组件管理详情 -->
        <activity
            android:name=".activity.PartManageDetailActivity"
            android:screenOrientation="portrait" /> <!-- 气象参数 -->
        <activity
            android:name=".activity.WeatherParamsActivity"
            android:screenOrientation="portrait" /> <!-- 组件检测 -->
        <activity
            android:name=".activity.PartCheckActivity"
            android:screenOrientation="portrait" />
        <!-- 漂移校准 -->
        <activity android:name=".activity.CorrectActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>